<ActionBar [title]="album ? album.name : 'Details'">
    <!-- go back button -->
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" class="back-button" (tap)="goBack()"></NavigationButton>
</ActionBar>

<GridLayout class="body">
    <!-- this label will be displayed if the folder is empty -->
    <Label *ngIf="dataItems.length === 0 && !isBusy" class="h2 empty-folder" text="This folder is empty"></Label>
    <!-- Use of RadListView from nativescript-ui-listview plugin to render virtualised elements in a grid view.
        Again, this could be a generic component to render elements in a grid view, but for now it's fine.
        Long press function is enabled allowing the user to remove the selected image from the album.
    -->
    <RadListView *ngIf="dataItems.length > 0" 
        class="gallery" 
        [items]="dataItems" 
        separatorColor="transparent" 
        pullToRefresh="false" 
        loadOnDemandMode="None"
        selectionBehavior="LongPress"
        (itemSelected)="onItemSelected($event)"
    >
        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="3"></ListViewGridLayout>
        <ng-template tkListItemTemplate let-item="item" let-index="index">
            <!-- basic tile with the rendered image from url + name -->
            <GridLayout class="list-item" rows="*, auto">
                <Image [src]="item.source" row="0" stretch="aspectFill" class="item-image" loadMode="async"></Image>
                <Label [text]="item.name" row="1" class="item-label"></Label>
            </GridLayout>
        </ng-template>
    </RadListView>
    <!-- This could be a generic component showing loading spinner when content loading, but better
        to prioritise the work for requirements firstly.
    -->
    <ActivityIndicator [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
</GridLayout>
